body{
    background-color: rgb(37, 32, 48);
}
header {
    font-family: Charmonman;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color:cornflowerblue;
    font-size: 48px;
}
h2{
    text-align: center;
    color:cornflowerblue;
    font-size: 36px;
}
h3{
    text-align: center;
    color:cornflowerblue;
    font-size: 28px;
}
h4{
    text-align: center;
    color:cornflowerblue;
    font-size: 24px;
}
h5{
    text-align: center;
    color:cornflowerblue;
    font-size: 20px;
}
h6{
    text-align: center;
    color:cornflowerblue;
    font-size: 18px;
}
p{
    text-align: center;
    color: cornflowerblue;
    font-size: 12px;
}
.chart{
    background-color: white;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}
.floatr-legend{
	padding: 5p;
	background-color: #ececec;
}